<div id="app-login" class="container-fluid">
	<div class="col-sm-10 col-sm-offset-1">
		<div class="col-sm-12 text-center">
			<h2>Acceso</h2>
			<hr>
		</div>

		<div class="col-sm-12">
			<form (ngSubmit)="onSubmit()" class="form-horizontal">
				<div class="form-group">
					<label for="user" class="col-sm-3 control-label text-left">Usuario</label>
					<div class="col-sm-6">
						<input id="user" type="text" class="form-control" name="user" [(ngModel)]="form.user" required="required">
					</div>
				</div>

				<div class="form-group">
					<label for="password" class="col-sm-3 control-label text-left">Contraseña</label>
					<div class="col-sm-6">
						<input id="password" type="password" class="form-control" name="password" [(ngModel)]="form.password" required="required">
					</div>
				</div>

				<div class="text-center">
					<button type="submit" class="btn btn-success">Acceder</button>
					<button type="button" class="btn btn-default" (click)="onReset()">Restablecer</button>
				</div>
			</form>
		</div>
	</div>
</div>
